@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
a,
p,
span {
  font-family: var(--font-p);
}

h1 {
  font-family: var(--font-header);
  font-weight: bold;
  font-size: 24px;
}

h2 {
  font-family: var(--font-header);
  font-weight: bold;
  font-size: 20px;
}

h3 {
  font-family: var(--font-header);
  font-weight: bold;
  font-size: 16px;
}

h4 {
  font-family: var(--font-header);
  font-weight: bold;
  font-size: 15px;
}

h5 {
  font-family: var(--font-header);
  font-weight: bold;
  font-size: 14px;
}

.subHeader {
  font-family: var(--font-subheader);
  font-weight: 200;
}
