@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  position: relative;
}

a,
p,
span {
  font-family: var(--font-p);
}

p {
  margin-bottom: 16px;
}

h1 {
  font-family: var(--font-header);
  font-weight: bold;
  font-size: 44px;
  line-height: 1.2em;
  margin-bottom: 16px;
}

h2 {
  font-family: var(--font-header);
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 30px;
}

h3 {
  font-family: var(--font-header);
  font-weight: bold;
  font-size: 16px;
}

h4 {
  font-family: var(--font-header);
  font-weight: bold;
  font-size: 15px;
}

h5 {
  font-family: var(--font-header);
  font-weight: bold;
  font-size: 14px;
}

.subHeader {
  font-family: var(--font-subheader);
  font-weight: 200;
}

@layer utilities {
  .profile {
    @apply text-green-800 ml-10;
  }
}
